
<div class = "texts-wrapper">
  <div class="card-deck">
    <% shops.each do |shop| %>
    <div class="col-md-4">
        <div class="card content-card border-dark" style="width: 18rem;">
            <%= link_to user_path(shop.user) do %>
             <%= attachment_image_tag(shop.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg" ,class:"card-img-top" )  %>
            <%end%>
            <div class="card-body">
              <h5 class="card-title">ShopName:<br/><%= link_to shop.name, shop_path(shop), class: "shop_#{shop.id}" %></h5>
              <p class="card-text">
                overview:<br/><%= shop.overview %>
              </p>
              <p class="card-text">
                  genre:<br/><%= shop.genre %>
              </p>
              <p class="card-text">
                  prefecture:<br/><%= shop.prefecture %>
              </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="mx-aoto">
 <%= paginate @shops %>
</div>







