<div class ="container mt-3 mb-3">
  <%= render 'searchs/form'%>
</div>
<div class='container px-4 px-sm-0'>
    <div class='row justify-content-center'>
      <div class='col-md-3'>
        <h2>User info</h2>
        <%= render 'users/info', user: @user %>

      </div>
    <!--</div>-->
    <!--<div class='row justify-content-center'>-->

        <div class='col offset-md-1'>
          <!--#error_message-->
          <%= form_with model:@shop_new, local:true do |f|%>
            <%= render 'layouts/error', model: f.object %>
          <% end %>
          <h2>Shops</h2>
          <%= render 'index', shops: @shops %>
        </div>
      </div>


  </div>