<div class = "container">
  <div class="row">
    <div class="col-md-12 col-md-offset-1">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <% unless @shop_rank.blank? %>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= attachment_image_tag @shop_rank.first, :image, :fill, 500, 600, fallback: "no-image-icon.jpg" , class: "d-block top_image mx-auto" %>
              <div class="carousel-caption">
                <h5>ランキング1位</h5>
                <p><%= link_to @shop_rank.first.name, shop_path(@shop_rank.first) %></p>
              </div>
            </div>
            <div class="carousel-item">
              <%= attachment_image_tag @shop_rank.second, :image, :fill, 500, 600, fallback: "no-image-icon.jpg" , class: "d-block top_image mx-auto" %>
              <div class="carousel-caption">
                <h5>ランキング2位</h5>
                <p><%= link_to @shop_rank.second.name, shop_path(@shop_rank.second) %></p>
              </div>
            </div>
            <div class="carousel-item">
              <%= attachment_image_tag @shop_rank.third, :image, :fill, 500, 600, fallback: "no-image-icon.jpg" , class: "d-block top_image mx-auto" %>
              <div class="carousel-caption">
                <h5>ランキング3位</h5>
                <p><%= link_to @shop_rank.third.name, shop_path(@shop_rank.third) %></p>
              </div>
            </div>
          </div>
        <% end %>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>